<div class="flick js-flick">
  <%= image_tag('alphabet/01.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/02.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/03.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/04.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/05.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/06.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/07.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/08.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/09.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/10.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/11.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/12.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/13.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/14.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/15.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/16.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/17.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/18.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/19.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/20.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/21.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/22.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/23.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/24.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/25.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/26.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/27.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/28.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/29.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/30.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/32.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/33.jpg', { width: 1000 }) %>
  <%= image_tag('alphabet/34.jpg', { width: 1000 }) %>
</div>
